<div class="tab feats feats-pane" data-group="primary" data-tab="pfs">
    <div class="pfs">
        <div class="organized-play spacing">
            <label for="pfs-player-number">{{localize 'PF2E.PFS.OrganizedPlayNumber'}}</label>
            <label for="pfs-character-number">{{localize 'PF2E.PFS.CharacterNumber'}}</label>
            <span>
                <input id="pfs-player-number" name="data.pfs.playerNumber" value="{{data.pfs.playerNumber}}" type="text" maxlength="10">&ndash;
            </span>
            <span>
                <input id="pfs-character-number" name="data.pfs.characterNumber" value="{{data.pfs.characterNumber}}" type="text" maxlength="4">
            </span>
        </div>
        <div>
            <label for="pfs-level-bump">{{localize 'PF2E.PFS.LevelBump'}}</label>
            <div class="level-bump toggle">
                <input id="pfs-level-bump" name="data.pfs.levelBump" data-dtype="Boolean" type="checkbox" {{#if data.pfs.levelBump}}checked{{/if}}>
                <label for="pfs-level-bump"></label>
            </div>
        </div>
    </div>
    <div class="pfs">
        <div class="spacing">
            <label for="pfs-current-faction">{{localize 'PF2E.PFS.CurrentFaction'}}</label>
            <span
                class="pf-value pf-small"
                title="{{localize 'PF2E.PFS.CurrentFaction'}}"
            >
                <select
                name="data.pfs.currentFaction"
                data-dtype="text"
                >
                    {{#select data.pfs.currentFaction}} 
                        {{#each pfsFactions as |label key|}}
                        <option value="{{key}}">{{localize label}}</option>
                        {{/each}} 
                    {{/select}}
                </select>
            </span>
        </div>
        <div>
            <label for="pfs-fame">{{localize 'PF2E.PFS.Fame'}}</label>
            <span>
                <input id="pfs-fame" name="data.pfs.fame" value="{{data.pfs.fame}}" type="number">
            </span>
        </div>
    </div>

    <div class="pfs">
        <div class="spacing">
            <label for="pfs-reputation">{{localize 'PF2E.PFS.Reputation'}}</label>
            {{#each data.pfs.reputation as |rep faction|}}
            <div><span>{{localize (add 'PF2E.PFS.Factions.' faction)}}: 
                <input class="small-input" id="pfs-rep-{{faction}}" name="data.pfs.reputation.{{faction}}" value="{{rep}}" type="number">
            </span></div>
            {{/each}}
        </div>
    </div>

    <ol class="actions-list inventory-list directory-list">
        {{#each actor.feats as |section sid|}}
        {{#if (eq section.label 'PF2E.FeatPFSBoonHeader')}}
        <li class="item action-header">
            <h3 class="feat-name pf-heading pf-actions">{{localize section.label}}</h3>
            {{#if ../owner}}
            <div class="item-controls">
                <a class="item-control item-create" title="{{localize 'PF2E.CreateFeatTitle'}}" data-type="feat" data-feat-type="{{sid}}"><i class="fas fa-plus"></i></a>
                <a class="item-control feat-browse" title="{{localize 'PF2E.OpenFeatBrowserTitle'}}" data-type="feat"><i class="fas fa-search"></i></a>
            </div>
            {{/if}}
        </li>
    
        {{#each section.feats as |feat fid|}}
        <li class="item feat-item" data-item-id="{{feat._id}}">
            <div class="item-name rollable">
                <img class="item-image" src="{{feat.img}}" alt="{{feat.name}}">
                <h4>{{feat.name}}</h4>
            </div>
            {{#if ../../owner}}
            <div class="item-controls">
                <a class="item-control item-edit" title="{{localize 'PF2E.EditItemTitle'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'PF2E.DeleteItemTitle'}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
        {{/if}}
        {{/each}}
    </ol>
</div>
